[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
pyyaml = "*"
pymongo = "*"
boto3 = "*"

[dev-packages]
autopep8 = "*"
jupyter = "*"

[requires]
python_version = "3.11"
